extends layout/base
block content
    section.content-header
        h1
            | Dashboard

    section.content
        .row
            .col-xs-4
                .info-box 
                    span.info-box-icon.bg-blue
                        i.fa.fa-star
                    .info-box-content
                        span.info-box-text SMA
                        span.info-box-number 14 Sekolah

            .col-xs-4
                .info-box 
                    span.info-box-icon.bg-blue
                        i.fa.fa-star
                    .info-box-content
                        span.info-box-text SMK
                        span.info-box-number 20 Sekolah

            