aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
           
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Dashboard
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                               
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Data Sekolah
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                                
                li.treeview
                    a(href='#')
                        i.fa.fa-linkrendering
                        span Sekolah Unggulan
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                               
          